In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("df_MLReady.xlsx")
df.head()

,Unnamed: 0,Unnamed: 0.1,Year-Month-Day,Quarter,Ticker,Text,Price_Prior,Price_During,Price_After,TickerNew,Industry
0,36,0,2021-1-27,1,AAPL.OQ,"Operator\nGood day, and welcome to the Apple Q...",137.796501,142.550000,135.367501,AAPL,Information Technology
1,37,1,2021-1-27,1,AAPL.OQ,SUMMARY\nI. 1Q21 BUSINESS REVIEW (T.C.)\nA. Hi...,137.796501,142.550000,135.367501,AAPL,Information Technology
2,38,2,2020-10-29,4,AAPL.OQ,"Operator\nGood day, everyone. Welcome to the A...",115.163500,114.205000,110.803750,AAPL,Information Technology
3,39,3,2020-10-29,4,AAPL.OQ,SUMMARY\nI. 4Q20 REVIEW (T.C.)\nA. Highlights:...,115.163500,114.205000,110.803750,AAPL,Information Technology
4,40,4,2020-7-30,3,AAPL.OQ,"Operator\nGood day, everyone. Welcome to the A...",93.735125,95.110626,108.109844,AAPL,Information Technology

In [3]:
#set const
max_change = 0.1

In [4]:
#df["Price_Change_Normalized"] = max(min((df["Price_Prior"] - df["Price_After"]) / df["Price_Prior"],-max_change),max_change)
df["Price_Change_Normalized(LABEL)"] = (df["Price_After"] - df["Price_Prior"]) / df["Price_Prior"] / max_change 
df["Price_Change_Normalized(LABEL)"] = df["Price_Change_Normalized(LABEL)"].clip(-1,1)
df["Price_DURING_Normalized(INPUT)"] = (df["Price_During"] - df["Price_Prior"]) / df["Price_Prior"] / max_change 
df["Price_DURING_Normalized(INPUT)"] = df["Price_DURING_Normalized(INPUT)"].clip(-1,1)
df

,Unnamed: 0,Unnamed: 0.1,Year-Month-Day,Quarter,Ticker,Text,Price_Prior,Price_During,Price_After,TickerNew,Industry,Price_Change_Normalized(LABEL),Price_DURING_Normalized(INPUT)
0,36,0,2021-1-27,1,AAPL.OQ,"Operator\nGood day, and welcome to the Apple Q...",137.796501,142.550000,135.367501,AAPL,Information Technology,-0.176274,0.344965
1,37,1,2021-1-27,1,AAPL.OQ,SUMMARY\nI. 1Q21 BUSINESS REVIEW (T.C.)\nA. Hi...,137.796501,142.550000,135.367501,AAPL,Information Technology,-0.176274,0.344965
2,38,2,2020-10-29,4,AAPL.OQ,"Operator\nGood day, everyone. Welcome to the A...",115.163500,114.205000,110.803750,AAPL,Information Technology,-0.378570,-0.083229
3,39,3,2020-10-29,4,AAPL.OQ,SUMMARY\nI. 4Q20 REVIEW (T.C.)\nA. Highlights:...,115.163500,114.205000,110.803750,AAPL,Information Technology,-0.378570,-0.083229
4,40,4,2020-7-30,3,AAPL.OQ,"Operator\nGood day, everyone. Welcome to the A...",93.735125,95.110626,108.109844,AAPL,Information Technology,1.000000,0.146743
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10696,37961,645,2019-1-23,1,TXN.OQ,"Operator\nGood day, everyone, and welcome to t...",97.688751,96.135001,102.163750,TXN,Information Technology,0.458087,-0.159051
10697,37962,646,2018-11-27,4,TXN.OQ,"John William Pitzer - Crédit Suisse AG, Resear...",95.918125,96.037498,98.800000,TXN,Information Technology,0.300451,0.012445
10698,37963,647,2018-10-23,4,TXN.OQ,"Operator\nGood day, ladies and gentlemen, than...",100.339001,98.277500,91.722501,TXN,Information Technology,-0.858739,-0.205454
10699,37964,648,2018-10-23,4,TXN.OQ,SUMMARY\nI. 3Q18 BUSINESS REVIEW (D.P.)\nA. Ov...,100.339001,98.277500,91.722501,TXN,Information Technology,-0.858739,-0.205454
10700,37965,649,2018-9-13,3,TXN.OQ,"Ross Clark Seymore - Deutsche Bank AG, Researc...",108.077000,105.597500,105.344375,TXN,Information Technology,-0.252841,-0.229420

In [5]:
df.to_excel("df_MLReady_Normalized_V2.xlsx")